In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/raw/music_trends.csv")

In [4]:
df.head()

,User_ID,Age,Country,Streaming Platform,Top Genre,Minutes Streamed Per Day,Number of Songs Liked,Most Played Artist,Subscription Type,Listening Time (Morning/Afternoon/Night),Discover Weekly Engagement (%),Repeat Song Rate (%)
0,U1000,34,Japan,Tidal,Reggae,295,138,Adele,Free,Afternoon,47.42,16.74
1,U1001,24,Germany,Deezer,Country,86,388,Ed Sheeran,Premium,Night,12.06,69.25
2,U1002,49,Germany,Deezer,Pop,363,368,Post Malone,Premium,Afternoon,47.19,67.38
3,U1003,55,Australia,YouTube,Reggae,348,349,Dua Lipa,Premium,Morning,31.27,76.51
4,U1004,13,Germany,Amazon Music,Reggae,30,328,Adele,Free,Night,30.68,43.41

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   User_ID                                   5000 non-null   object
 1   Age                                       5000 non-null   int64
 2   Country                                   5000 non-null   object
 3   Streaming Platform                        5000 non-null   object
 4   Top Genre                                 5000 non-null   object
 5   Minutes Streamed Per Day                  5000 non-null   int64
 6   Number of Songs Liked                     5000 non-null   int64
 7   Most Played Artist                        5000 non-null   object
 8   Subscription Type                         5000 non-null   object
 9   Listening Time (Morning/Afternoon/Night)  5000 non-null   object
 10  Discover Weekly Engagement (%)            5000 non-null   float64
 11  Repeat Song Rate (%)                      5000 non-null   float64
dtypes: float64(2), int64(3), object(7)
memory usage: 468.9+ KB

In [47]:
platform_df = pd.DataFrame(df['Streaming Platform'].value_counts())
platform_df['user_count'] = platform_df['count']
platform_df['user_count_pct'] = 100 * platform_df['count'] / len(df)
platform_df.drop(columns='count', inplace=True)
platform_df.reset_index(inplace=True)
platform_df

  Streaming Platform  user_count  user_count_pct
0       Amazon Music         861           17.22
1              Tidal         850           17.00
2             Deezer         844           16.88
3            Spotify         827           16.54
4            YouTube         822           16.44
5        Apple Music         796           15.92

In [48]:
platform_df

  Streaming Platform  user_count  user_count_pct
0       Amazon Music         861           17.22
1              Tidal         850           17.00
2             Deezer         844           16.88
3            Spotify         827           16.54
4            YouTube         822           16.44
5        Apple Music         796           15.92