In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/raw/music_trends.csv")

In [4]:
df.head()

,User_ID,Age,Country,Streaming Platform,Top Genre,Minutes Streamed Per Day,Number of Songs Liked,Most Played Artist,Subscription Type,Listening Time (Morning/Afternoon/Night),Discover Weekly Engagement (%),Repeat Song Rate (%)
0,U1000,34,Japan,Tidal,Reggae,295,138,Adele,Free,Afternoon,47.42,16.74
1,U1001,24,Germany,Deezer,Country,86,388,Ed Sheeran,Premium,Night,12.06,69.25
2,U1002,49,Germany,Deezer,Pop,363,368,Post Malone,Premium,Afternoon,47.19,67.38
3,U1003,55,Australia,YouTube,Reggae,348,349,Dua Lipa,Premium,Morning,31.27,76.51
4,U1004,13,Germany,Amazon Music,Reggae,30,328,Adele,Free,Night,30.68,43.41

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   User_ID                                   5000 non-null   object
 1   Age                                       5000 non-null   int64
 2   Country                                   5000 non-null   object
 3   Streaming Platform                        5000 non-null   object
 4   Top Genre                                 5000 non-null   object
 5   Minutes Streamed Per Day                  5000 non-null   int64
 6   Number of Songs Liked                     5000 non-null   int64
 7   Most Played Artist                        5000 non-null   object
 8   Subscription Type                         5000 non-null   object
 9   Listening Time (Morning/Afternoon/Night)  5000 non-null   object
 10  Discover Weekly Engagement (%)            5000 non-null   float64
 11  Repeat Song Rate (%)                      5000 non-null   float64
dtypes: float64(2), int64(3), object(7)
memory usage: 468.9+ KB

In [6]:
df.columns = [
        "user_id",
        "age",
        "country",
        "streaming_platform",
        "top_genre",
        "minutes_streamed_per_day",
        "number_of_songs_liked",
        "most_played_artist",
        "subscription_type",
        "listening_time",
        "discover_weekly_engagement_pct",
        "repeat_song_rate_pct",
    ]
df

,user_id,age,country,streaming_platform,top_genre,minutes_streamed_per_day,number_of_songs_liked,most_played_artist,subscription_type,listening_time,discover_weekly_engagement_pct,repeat_song_rate_pct
0,U1000,34,Japan,Tidal,Reggae,295,138,Adele,Free,Afternoon,47.42,16.74
1,U1001,24,Germany,Deezer,Country,86,388,Ed Sheeran,Premium,Night,12.06,69.25
2,U1002,49,Germany,Deezer,Pop,363,368,Post Malone,Premium,Afternoon,47.19,67.38
3,U1003,55,Australia,YouTube,Reggae,348,349,Dua Lipa,Premium,Morning,31.27,76.51
4,U1004,13,Germany,Amazon Music,Reggae,30,328,Adele,Free,Night,30.68,43.41
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,U5995,60,UK,Deezer,Country,348,81,Post Malone,Premium,Morning,49.23,22.36
4996,U5996,38,Australia,Deezer,Hip-Hop,225,218,BTS,Premium,Night,17.08,58.23
4997,U5997,27,Brazil,Amazon Music,Metal,568,277,Taylor Swift,Premium,Night,69.39,51.71
4998,U5998,58,Canada,Amazon Music,EDM,523,492,Bad Bunny,Premium,Night,43.44,24.53
4999,U5999,30,South Korea,YouTube,Rock,451,145,Adele,Premium,Night,15.45,79.46

## 1. What was the most popular music platform?

In [7]:
platform_df = pd.DataFrame(df['streaming_platform'].value_counts())
platform_df['user_count'] = platform_df['count']
platform_df['user_count_pct'] = 100 * platform_df['count'] / len(df)
platform_df.drop(columns='count', inplace=True)
platform_df.reset_index(inplace=True)
platform_df

  streaming_platform  user_count  user_count_pct
0       Amazon Music         861           17.22
1              Tidal         850           17.00
2             Deezer         844           16.88
3            Spotify         827           16.54
4            YouTube         822           16.44
5        Apple Music         796           15.92

## 2. How does genre preference vary by platform?

In [8]:
genre_preference_by_platform_df = df.copy()

genre_preference_by_platform_df = (
  genre_preference_by_platform_df
  .groupby(['streaming_platform', 'top_genre'])[['user_id']]
  .count()
  .rename(columns={'user_id': 'user_count'})
  .sort_values(by=['top_genre', 'user_count'], ascending=[True, False])
  .reset_index()
)

genre_preference_by_platform_df['user_count_pct'] = (
  genre_preference_by_platform_df
  .groupby('top_genre')['user_count']
  .transform(lambda x: 100 * x / x.sum())
)

genre_preference_by_platform_df

   streaming_platform  top_genre  user_count  user_count_pct
0        Amazon Music  Classical         101       21.263158
1              Deezer  Classical          85       17.894737
2               Tidal  Classical          85       17.894737
3             Spotify  Classical          74       15.578947
4         Apple Music  Classical          65       13.684211
5             YouTube  Classical          65       13.684211
6              Deezer    Country          96       19.834711
7        Amazon Music    Country          87       17.975207
8         Apple Music    Country          85       17.561983
9             Spotify    Country          76       15.702479
10            YouTube    Country          72       14.876033
11              Tidal    Country          68       14.049587
12              Tidal        EDM          93       17.613636
13             Deezer        EDM          92       17.424242
14            Spotify        EDM          89       16.856061
15       Amazon Music        EDM          88       16.666667
16        Apple Music        EDM          86       16.287879
17            YouTube        EDM          80       15.151515
18            Spotify    Hip-Hop          92       18.969072
19       Amazon Music    Hip-Hop          89       18.350515
20            YouTube    Hip-Hop          84       17.319588
21              Tidal    Hip-Hop          81       16.701031
22             Deezer    Hip-Hop          73       15.051546
23        Apple Music    Hip-Hop          66       13.608247
24              Tidal       Jazz          99       18.609023
25            YouTube       Jazz          98       18.421053
26        Apple Music       Jazz          87       16.353383
27            Spotify       Jazz          87       16.353383
28       Amazon Music       Jazz          86       16.165414
29             Deezer       Jazz          75       14.097744
30        Apple Music      Metal          87       17.718941
31             Deezer      Metal          86       17.515275
32       Amazon Music      Metal          81       16.496945
33            YouTube      Metal          81       16.496945
34            Spotify      Metal          80       16.293279
35              Tidal      Metal          76       15.478615
36       Amazon Music        Pop          80       17.316017
37        Apple Music        Pop          80       17.316017
38            YouTube        Pop          79       17.099567
39             Deezer        Pop          78       16.883117
40            Spotify        Pop          74       16.017316
41              Tidal        Pop          71       15.367965
42              Tidal        R&B          99       20.000000
43            YouTube        R&B          83       16.767677
44       Amazon Music        R&B          82       16.565657
45             Deezer        R&B          80       16.161616
46            Spotify        R&B          80       16.161616
47        Apple Music        R&B          71       14.343434
48            YouTube     Reggae          99       18.609023
49             Deezer     Reggae          89       16.729323
50            Spotify     Reggae          88       16.541353
51       Amazon Music     Reggae          87       16.353383
52              Tidal     Reggae          85       15.977444
53        Apple Music     Reggae          84       15.789474
54              Tidal       Rock          93       18.023256
55             Deezer       Rock          90       17.441860
56            Spotify       Rock          87       16.860465
57        Apple Music       Rock          85       16.472868
58            YouTube       Rock          81       15.697674
59       Amazon Music       Rock          80       15.503876

## 3. How do listening times differ by platform?

In [9]:
listening_time_by_platform_df = df.copy()

listening_time_by_platform_df = (
  listening_time_by_platform_df
  .groupby(['streaming_platform', 'listening_time'])[['user_id']]
  .count()
  .rename(columns={'user_id': 'user_count'})
  .sort_values(by=['streaming_platform', 'listening_time'], ascending=[True, True])
  .reset_index()
)

listening_time_by_platform_df['user_count_pct'] = (
  listening_time_by_platform_df
  .groupby('streaming_platform')['user_count']
  .transform(lambda x: 100 * x / x.sum())
)

listening_time_by_platform_df

   streaming_platform listening_time  user_count  user_count_pct
0        Amazon Music      Afternoon         270       31.358885
1        Amazon Music        Morning         301       34.959350
2        Amazon Music          Night         290       33.681765
3         Apple Music      Afternoon         264       33.165829
4         Apple Music        Morning         272       34.170854
5         Apple Music          Night         260       32.663317
6              Deezer      Afternoon         294       34.834123
7              Deezer        Morning         254       30.094787
8              Deezer          Night         296       35.071090
9             Spotify      Afternoon         287       34.703748
10            Spotify        Morning         255       30.834341
11            Spotify          Night         285       34.461911
12              Tidal      Afternoon         272       32.000000
13              Tidal        Morning         267       31.411765
14              Tidal          Night         311       36.588235
15            YouTube      Afternoon         247       30.048662
16            YouTube        Morning         272       33.090024
17            YouTube          Night         303       36.861314

## 4. Which age group stream the most music?

In [35]:
def calculate_age_group(age):
    if age < 13:
        return 'Child'
    elif age < 18:
        return 'Teenager'
    elif age < 25:
        return 'Young Adult'
    elif age < 45:
        return 'Adult'
    elif age < 65:
        return 'Middle-Aged'
    else:
        return 'Senior'

stream_by_age_group_df = df.copy()
stream_by_age_group_df['age_group'] = stream_by_age_group_df['age'].apply(calculate_age_group)

stream_by_age_group_df = (
    stream_by_age_group_df
    .groupby('age_group')[['user_id']]
    .count()
    .rename(columns={'user_id': 'user_count'})
    .reset_index()
)

stream_by_age_group_df['user_count_pct'] = 100 * stream_by_age_group_df['user_count'] / stream_by_age_group_df['user_count'].sum()

stream_by_age_group_df

     age_group  user_count  user_count_pct
0        Adult        2114           42.28
1  Middle-Aged        1676           33.52
2     Teenager         512           10.24
3  Young Adult         698           13.96

## 5. What age group spends the most time streaming?

In [11]:
stream_duration_per_age_group = df.copy()
stream_duration_per_age_group['age_group'] = stream_duration_per_age_group['age'].apply(calculate_age_group)

stream_duration_per_age_group = (
  stream_duration_per_age_group
  .groupby('age_group')[['minutes_streamed_per_day']]
  .mean()
  .rename(columns={'minutes_streamed_per_day': 'avg_mins_streamed_per_day'})
  .sort_values(by=['avg_mins_streamed_per_day'], ascending=[False])
  .reset_index()
)

stream_duration_per_age_group

     age_group  avg_mins_streamed_per_day
0  Young Adult                 315.047278
1  Middle-Aged                 309.491647
2        Adult                 307.903027
3     Teenager                 305.992188

## 6. What is the most popular genre per age group?

In [12]:
# Create copy of original dataframe and add an age_group column
age_group_with_genre_preferences_df = df.copy()
age_group_with_genre_preferences_df['age_group'] = age_group_with_genre_preferences_df['age'].apply(calculate_age_group)

# Count users per (age_group, top_genre)
age_group_with_genre_preferences_df = (
  age_group_with_genre_preferences_df
  .groupby(['age_group', 'top_genre'])[['user_id']]
  .count()
  .reset_index()
  .rename(columns={'user_id': 'user_count'})
)

# Find the maximum value for each age group. (The maximum value will give us the user count for the most popular genre within each age group)
max_count_per_age_group_df = (
  age_group_with_genre_preferences_df
  .groupby('age_group')[['user_count']]
  .max()
  .reset_index()
  .rename(columns={'user_count': 'max_count'})
)

# Find the total users per age group
total_user_per_age_group_df = (
  age_group_with_genre_preferences_df
  .groupby('age_group')[['user_count']]
  .sum()
  .reset_index()
  .rename(columns={'user_count': 'total_user_per_age_group'})
)

# Merge tables to identify the top_genre for each age group
most_popular_genre_per_age_group_df = (
  max_count_per_age_group_df
  .merge(total_user_per_age_group_df, how='inner', on='age_group')
  .merge(age_group_with_genre_preferences_df, how='inner', left_on=['max_count', 'age_group'], right_on=['user_count', 'age_group'])
  .drop(columns='user_count')
)

# Calculate percentage users per age group
most_popular_genre_per_age_group_df["max_count_pct"] = 100 * most_popular_genre_per_age_group_df["max_count"] / most_popular_genre_per_age_group_df["total_user_per_age_group"]

# Rearranging column order and then printing result
most_popular_genre_per_age_group_df = most_popular_genre_per_age_group_df[['age_group', 'top_genre', 'max_count', 'total_user_per_age_group', 'max_count_pct']]
most_popular_genre_per_age_group_df

     age_group  top_genre  max_count  total_user_per_age_group  max_count_pct
0        Adult       Jazz        231                      2114      10.927152
1  Middle-Aged    Hip-Hop        180                      1676      10.739857
2     Teenager  Classical         63                       512      12.304688
3  Young Adult        EDM        101                       698      14.469914

## 7. What are the country-level differences in listening times?

In [13]:
listening_times_by_country_df = df.copy()

listening_times_by_country_df = (
  listening_times_by_country_df
  .groupby(['country', 'listening_time'])[['user_id']]
  .count()
  .reset_index()
  .rename(columns={'user_id': 'user_count'})
  .sort_values(by=['country', 'listening_time'], ascending=[True, True])
)

listening_times_by_country_df['user_count_pct'] = (
  listening_times_by_country_df
  .groupby('country')['user_count']
  .transform(lambda x: 100 * x / x.sum())
)

listening_times_by_country_df

        country listening_time  user_count  user_count_pct
0     Australia      Afternoon         184       34.980989
1     Australia        Morning         156       29.657795
2     Australia          Night         186       35.361217
3        Brazil      Afternoon         153       30.118110
4        Brazil        Morning         171       33.661417
5        Brazil          Night         184       36.220472
6        Canada      Afternoon         164       32.347140
7        Canada        Morning         163       32.149901
8        Canada          Night         180       35.502959
9        France      Afternoon         162       32.860041
10       France        Morning         149       30.223124
11       France          Night         182       36.916836
12      Germany      Afternoon         152       32.271762
13      Germany        Morning         156       33.121019
14      Germany          Night         163       34.607219
15        India      Afternoon         176       35.918367
16        India        Morning         145       29.591837
17        India          Night         169       34.489796
18        Japan      Afternoon         167       34.012220
19        Japan        Morning         174       35.437882
20        Japan          Night         150       30.549898
21  South Korea      Afternoon         175       33.914729
22  South Korea        Morning         183       35.465116
23  South Korea          Night         158       30.620155
24           UK      Afternoon         152       29.457364
25           UK        Morning         166       32.170543
26           UK          Night         198       38.372093
27          USA      Afternoon         149       30.912863
28          USA        Morning         158       32.780083
29          USA          Night         175       36.307054

## 8. Are users from certain countries listening to more music per day?

In [14]:
stream_duration_per_country_df = df.copy()

stream_duration_per_country_df = (
  stream_duration_per_country_df
  .groupby('country')[['minutes_streamed_per_day']]
  .mean('minutes_streamed_per_day')
  .reset_index()
  .rename(columns={'minutes_streamed_per_day': 'avg_mins_streamed_per_day'})
  .sort_values(by=['avg_mins_streamed_per_day'], ascending=[False], ignore_index=True)
)

stream_duration_per_country_df

       country  avg_mins_streamed_per_day
0      Germany                 321.961783
1       France                 318.649087
2  South Korea                 316.238372
3    Australia                 314.878327
4           UK                 309.767442
5       Canada                 307.692308
6        Japan                 306.578411
7        India                 305.512245
8          USA                 297.439834
9       Brazil                 293.712598

## 9. Do users from particular countries prefer certain genres?

In [15]:
genre_preference_by_country_df = df.copy()

genre_preference_by_country_df = (
  genre_preference_by_country_df
  .groupby(['country', 'top_genre'])[['user_id']]
  .count()
  .reset_index()
  .rename(columns={'user_id': 'user_count'})
  .sort_values(by=['country', 'user_count'], ascending=[True, False], ignore_index=True)
)

genre_preference_by_country_df['user_count_pct'] = (
  genre_preference_by_country_df
  .groupby('country')['user_count']
  .transform(lambda x: 100 * x / x.sum())
)

genre_preference_by_country_df

      country  top_genre  user_count  user_count_pct
0   Australia        Pop          61       11.596958
1   Australia       Jazz          60       11.406844
2   Australia    Hip-Hop          55       10.456274
3   Australia     Reggae          55       10.456274
4   Australia       Rock          55       10.456274
..        ...        ...         ...             ...
95        USA  Classical          48        9.958506
96        USA    Country          46        9.543568
97        USA        Pop          43        8.921162
98        USA        R&B          38        7.883817
99        USA    Hip-Hop          34        7.053942

[100 rows x 4 columns]

## 10. What are the most popular streaming platforms across the globe?

In [ ]:
platform_popularity_by_country_df = df.copy()

platform_popularity_by_country_df = (
  platform_popularity_by_country_df
  .groupby(['country', 'streaming_platform'])[['user_id']]
  .count()
  .rename(columns={'user_id': 'user_count'})
)

platform_popularity_by_country_df['platform_rank'] = (
  platform_popularity_by_country_df
  .groupby('country')['user_count']
  .rank(method='dense', ascending=False)
)

platform_popularity_by_country_df['user_count_pct'] = (
  platform_popularity_by_country_df
  .groupby('country')['user_count']
  .transform(lambda x: 100 * x / x.sum())
)

platform_popularity_by_country_df = (
  platform_popularity_by_country_df
  .sort_values(by=['country', 'platform_rank'], ascending=[True, True])
  .reset_index()
)

platform_popularity_by_country_df

        country streaming_platform  user_count  platform_rank  user_count_pct
0     Australia              Tidal         113            1.0       21.482890
1     Australia        Apple Music          92            2.0       17.490494
2     Australia       Amazon Music          84            3.0       15.969582
3     Australia            Spotify          83            4.0       15.779468
4     Australia             Deezer          79            5.0       15.019011
5     Australia            YouTube          75            6.0       14.258555
6        Brazil       Amazon Music          91            1.0       17.913386
7        Brazil            YouTube          91            1.0       17.913386
8        Brazil              Tidal          87            2.0       17.125984
9        Brazil             Deezer          86            3.0       16.929134
10       Brazil            Spotify          78            4.0       15.354331
11       Brazil        Apple Music          75            5.0       14.763780
12       Canada            YouTube          97            1.0       19.132150
13       Canada              Tidal          84            2.0       16.568047
14       Canada             Deezer          83            3.0       16.370809
15       Canada       Amazon Music          82            4.0       16.173570
16       Canada            Spotify          82            4.0       16.173570
17       Canada        Apple Music          79            5.0       15.581854
18       France              Tidal          94            1.0       19.066937
19       France             Deezer          89            2.0       18.052738
20       France            YouTube          82            3.0       16.632860
21       France            Spotify          79            4.0       16.024341
22       France        Apple Music          76            5.0       15.415822
23       France       Amazon Music          73            6.0       14.807302
24      Germany             Deezer          82            1.0       17.409766
25      Germany              Tidal          82            1.0       17.409766
26      Germany       Amazon Music          81            2.0       17.197452
27      Germany            YouTube          79            3.0       16.772824
28      Germany        Apple Music          74            4.0       15.711253
29      Germany            Spotify          73            5.0       15.498938
30        India             Deezer         110            1.0       22.448980
31        India            Spotify          84            2.0       17.142857
32        India       Amazon Music          78            3.0       15.918367
33        India            YouTube          76            4.0       15.510204
34        India              Tidal          74            5.0       15.102041
35        India        Apple Music          68            6.0       13.877551
36        Japan        Apple Music          95            1.0       19.348269
37        Japan            YouTube          86            2.0       17.515275
38        Japan       Amazon Music          85            3.0       17.311609
39        Japan            Spotify          83            4.0       16.904277
40        Japan             Deezer          74            5.0       15.071283
41        Japan              Tidal          68            6.0       13.849287
42  South Korea            Spotify         104            1.0       20.155039
43  South Korea              Tidal          94            2.0       18.217054
44  South Korea       Amazon Music          88            3.0       17.054264
45  South Korea            YouTube          85            4.0       16.472868
46  South Korea             Deezer          81            5.0       15.697674
47  South Korea        Apple Music          64            6.0       12.403101
48           UK       Amazon Music         106            1.0       20.542636
49           UK        Apple Music          86            2.0       16.666667
50           UK            YouTube          84            3.0       16.279070
51           UK              Tidal          83            4.0       16.085271
52           UK             Deezer          79            5.0       15.310078
53           UK            Spotify          78            6.0       15.116279
54          USA       Amazon Music          93            1.0       19.294606
55          USA        Apple Music          87            2.0       18.049793
56          USA            Spotify          83            3.0       17.219917
57          USA             Deezer          81            4.0       16.804979
58          USA              Tidal          71            5.0       14.730290
59          USA            YouTube          67            6.0       13.900415

## 11. What is the average duration of streams per day for each streaming platform?

In [17]:
stream_duration_per_platform_df = df.copy()

stream_duration_per_platform_df = (
  stream_duration_per_platform_df
  .groupby('streaming_platform')[['minutes_streamed_per_day']]
  .mean()
  .rename(columns={'minutes_streamed_per_day': 'avg_mins_streamed_per_day'})
  .sort_values(by=['avg_mins_streamed_per_day'], ascending=[False])
  .reset_index()
)

stream_duration_per_platform_df

  streaming_platform  avg_mins_streamed_per_day
0            YouTube                 320.126521
1              Tidal                 314.892941
2        Apple Music                 309.384422
3             Deezer                 307.228673
4       Amazon Music                 305.092915
5            Spotify                 298.823458

## 12. Which genres are most associated with high repeat rate?

In [18]:
repeat_rate_per_genre_df = df.copy()

repeat_rate_per_genre_df = (
  repeat_rate_per_genre_df
  .groupby('top_genre')[['repeat_song_rate_pct']]
  .mean()
  .rename(columns={'repeat_song_rate_pct': 'avg_repeat_rate'})
  .sort_values(by=['avg_repeat_rate'], ascending=False)
  .reset_index()
)

repeat_rate_per_genre_df

   top_genre  avg_repeat_rate
0    Country        44.262975
1    Hip-Hop        43.194495
2      Metal        42.991385
3        EDM        42.963314
4        R&B        42.594202
5       Jazz        42.368910
6     Reggae        41.861241
7       Rock        41.433798
8  Classical        41.224168
9        Pop        40.981385

## 13. Which age groups are most associated with high repeat rate?

In [19]:
repeat_rate_per_age_group_df = df.copy()
repeat_rate_per_age_group_df['age_group'] = repeat_rate_per_age_group_df['age'].apply(calculate_age_group)

repeat_rate_per_age_group_df = (
  repeat_rate_per_age_group_df
  .groupby(['top_genre', 'age_group'])[['repeat_song_rate_pct']]
  .mean()
  .rename(columns={'repeat_song_rate_pct': 'avg_repeat_rate_per_age_group'})
  .reset_index()
  .merge(repeat_rate_per_genre_df, how='left', on='top_genre')
  .sort_values(by=['avg_repeat_rate'], ascending=[False], ignore_index=True)
)

repeat_rate_per_age_group_df

    top_genre    age_group  avg_repeat_rate_per_age_group  avg_repeat_rate
0     Country        Adult                      45.242463        44.262975
1     Country  Middle-Aged                      43.612595        44.262975
2     Country     Teenager                      43.337895        44.262975
3     Country  Young Adult                      43.606212        44.262975
4     Hip-Hop  Young Adult                      45.841429        43.194495
5     Hip-Hop        Adult                      42.192021        43.194495
6     Hip-Hop     Teenager                      39.990408        43.194495
7     Hip-Hop  Middle-Aged                      44.215167        43.194495
8       Metal  Young Adult                      47.520952        42.991385
9       Metal     Teenager                      40.233654        42.991385
10      Metal  Middle-Aged                      43.154671        42.991385
11      Metal        Adult                      42.181675        42.991385
12        EDM  Young Adult                      43.100891        42.963314
13        EDM     Teenager                      43.943958        42.963314
14        EDM        Adult                      43.851143        42.963314
15        EDM  Middle-Aged                      41.499349        42.963314
16        R&B  Young Adult                      36.442456        42.594202
17        R&B        Adult                      44.705614        42.594202
18        R&B  Middle-Aged                      42.808012        42.594202
19        R&B     Teenager                      38.815909        42.594202
20       Jazz        Adult                      41.363247        42.368910
21       Jazz  Middle-Aged                      44.134830        42.368910
22       Jazz     Teenager                      43.532308        42.368910
23       Jazz  Young Adult                      40.464932        42.368910
24     Reggae  Young Adult                      39.193023        41.861241
25     Reggae     Teenager                      44.215273        41.861241
26     Reggae  Middle-Aged                      40.666369        41.861241
27     Reggae        Adult                      43.209821        41.861241
28       Rock        Adult                      42.815964        41.433798
29       Rock  Middle-Aged                      41.536727        41.433798
30       Rock     Teenager                      39.542600        41.433798
31       Rock  Young Adult                      38.476795        41.433798
32  Classical  Middle-Aged                      40.802299        41.224168
33  Classical  Young Adult                      43.220000        41.224168
34  Classical     Teenager                      43.920159        41.224168
35  Classical        Adult                      40.045278        41.224168
36        Pop  Young Adult                      36.331132        40.981385
37        Pop     Teenager                      37.454286        40.981385
38        Pop  Middle-Aged                      42.046536        40.981385
39        Pop        Adult                      42.063785        40.981385

## 14. What is the age distribution of users across platforms?

In [36]:
age_dist_per_platform_df = df.copy()
age_dist_per_platform_df['age_group'] = age_dist_per_platform_df['age'].apply(calculate_age_group)

age_dist_per_platform_df = (
  age_dist_per_platform_df
  .groupby(['streaming_platform', 'age_group'])[['user_id']]
  .count()
  .rename(columns={'user_id': 'user_count'})
  .sort_values(by=['streaming_platform', 'user_count'], ascending=[True, False])
  .reset_index()
)

age_dist_per_platform_df['user_count_pct'] = (
  age_dist_per_platform_df
  .groupby('streaming_platform')['user_count']
  .transform(lambda x: 100 * x / x.sum())
)

age_dist_per_platform_df

   streaming_platform    age_group  user_count  user_count_pct
0        Amazon Music        Adult         364       42.276423
1        Amazon Music  Middle-Aged         289       33.565621
2        Amazon Music  Young Adult         121       14.053426
3        Amazon Music     Teenager          87       10.104530
4         Apple Music        Adult         333       41.834171
5         Apple Music  Middle-Aged         267       33.542714
6         Apple Music  Young Adult         108       13.567839
7         Apple Music     Teenager          88       11.055276
8              Deezer        Adult         368       43.601896
9              Deezer  Middle-Aged         273       32.345972
10             Deezer  Young Adult         128       15.165877
11             Deezer     Teenager          75        8.886256
12            Spotify        Adult         371       44.860943
13            Spotify  Middle-Aged         265       32.043531
14            Spotify  Young Adult         115       13.905683
15            Spotify     Teenager          76        9.189843
16              Tidal        Adult         343       40.352941
17              Tidal  Middle-Aged         300       35.294118
18              Tidal  Young Adult         113       13.294118
19              Tidal     Teenager          94       11.058824
20            YouTube        Adult         335       40.754258
21            YouTube  Middle-Aged         282       34.306569
22            YouTube  Young Adult         113       13.746959
23            YouTube     Teenager          92       11.192214

## 15. What is the distribution of users across platforms in terms of country?

In [37]:
country_dist_per_platform_df = df.copy()

country_dist_per_platform_df = (
  country_dist_per_platform_df
  .groupby(['streaming_platform', 'country'])[['user_id']]
  .count()
  .rename(columns={'user_id': 'user_count'})
  .sort_values(by=['streaming_platform', 'user_count'], ascending=[True, False])
  .reset_index()
)

country_dist_per_platform_df['user_count_pct'] = (
  country_dist_per_platform_df
  .groupby('streaming_platform')['user_count']
  .transform(lambda x: 100 * x / x.sum())
)

country_dist_per_platform_df

   streaming_platform      country  user_count  user_count_pct
0        Amazon Music           UK         106       12.311266
1        Amazon Music          USA          93       10.801394
2        Amazon Music       Brazil          91       10.569106
3        Amazon Music  South Korea          88       10.220674
4        Amazon Music        Japan          85        9.872242
5        Amazon Music    Australia          84        9.756098
6        Amazon Music       Canada          82        9.523810
7        Amazon Music      Germany          81        9.407666
8        Amazon Music        India          78        9.059233
9        Amazon Music       France          73        8.478513
10        Apple Music        Japan          95       11.934673
11        Apple Music    Australia          92       11.557789
12        Apple Music          USA          87       10.929648
13        Apple Music           UK          86       10.804020
14        Apple Music       Canada          79        9.924623
15        Apple Music       France          76        9.547739
16        Apple Music       Brazil          75        9.422111
17        Apple Music      Germany          74        9.296482
18        Apple Music        India          68        8.542714
19        Apple Music  South Korea          64        8.040201
20             Deezer        India         110       13.033175
21             Deezer       France          89       10.545024
22             Deezer       Brazil          86       10.189573
23             Deezer       Canada          83        9.834123
24             Deezer      Germany          82        9.715640
25             Deezer  South Korea          81        9.597156
26             Deezer          USA          81        9.597156
27             Deezer    Australia          79        9.360190
28             Deezer           UK          79        9.360190
29             Deezer        Japan          74        8.767773
30            Spotify  South Korea         104       12.575574
31            Spotify        India          84       10.157195
32            Spotify    Australia          83       10.036276
33            Spotify        Japan          83       10.036276
34            Spotify          USA          83       10.036276
35            Spotify       Canada          82        9.915357
36            Spotify       France          79        9.552600
37            Spotify       Brazil          78        9.431681
38            Spotify           UK          78        9.431681
39            Spotify      Germany          73        8.827086
40              Tidal    Australia         113       13.294118
41              Tidal       France          94       11.058824
42              Tidal  South Korea          94       11.058824
43              Tidal       Brazil          87       10.235294
44              Tidal       Canada          84        9.882353
45              Tidal           UK          83        9.764706
46              Tidal      Germany          82        9.647059
47              Tidal        India          74        8.705882
48              Tidal          USA          71        8.352941
49              Tidal        Japan          68        8.000000
50            YouTube       Canada          97       11.800487
51            YouTube       Brazil          91       11.070560
52            YouTube        Japan          86       10.462287
53            YouTube  South Korea          85       10.340633
54            YouTube           UK          84       10.218978
55            YouTube       France          82        9.975669
56            YouTube      Germany          79        9.610706
57            YouTube        India          76        9.245742
58            YouTube    Australia          75        9.124088
59            YouTube          USA          67        8.150852

## 16. What is the distribution of users across platforms in terms of subscription type?

In [38]:
sub_type_dist_per_platform_df = df.copy()

sub_type_dist_per_platform_df = (
  sub_type_dist_per_platform_df
  .groupby(['streaming_platform', 'subscription_type'])[['user_id']]
  .count()
  .rename(columns={'user_id': 'user_count'})
  .sort_values(by=['streaming_platform', 'user_count'], ascending=[True, False])
  .reset_index()
)

sub_type_dist_per_platform_df['user_count_pct'] = (
  sub_type_dist_per_platform_df
  .groupby('streaming_platform')['user_count']
  .transform(lambda x: 100 * x / x.sum())
)

sub_type_dist_per_platform_df

   streaming_platform subscription_type  user_count  user_count_pct
0        Amazon Music              Free         454       52.729384
1        Amazon Music           Premium         407       47.270616
2         Apple Music           Premium         399       50.125628
3         Apple Music              Free         397       49.874372
4              Deezer           Premium         438       51.895735
5              Deezer              Free         406       48.104265
6             Spotify           Premium         419       50.665054
7             Spotify              Free         408       49.334946
8               Tidal              Free         426       50.117647
9               Tidal           Premium         424       49.882353
10            YouTube           Premium         439       53.406326
11            YouTube              Free         383       46.593674

## 17. What are the most common subscription type for different age groups?

In [39]:
sub_type_per_age_group_df = df.copy()
sub_type_per_age_group_df['age_group'] = sub_type_per_age_group_df['age'].apply(calculate_age_group)

sub_type_per_age_group_df = (
  sub_type_per_age_group_df
  .groupby(['age_group', 'subscription_type'])[['user_id']]
  .count()
  .rename(columns={'user_id': 'user_count'})
  .sort_values(by=['age_group', 'user_count'], ascending=[True, False])
  .reset_index()
)

sub_type_per_age_group_df['user_count_pct'] = (
  sub_type_per_age_group_df
  .groupby('age_group')['user_count']
  .transform(lambda x: 100 * x / x.sum())
)

sub_type_per_age_group_df

     age_group subscription_type  user_count  user_count_pct
0        Adult           Premium        1069       50.567644
1        Adult              Free        1045       49.432356
2  Middle-Aged           Premium         844       50.357995
3  Middle-Aged              Free         832       49.642005
4     Teenager           Premium         265       51.757812
5     Teenager              Free         247       48.242188
6  Young Adult              Free         350       50.143266
7  Young Adult           Premium         348       49.856734

## 18. Do users listen more at specific times of the day?

In [24]:
stream_duration_per_lis_time_df = df.copy()

stream_duration_per_lis_time_df = (
  stream_duration_per_lis_time_df
  .groupby('listening_time')[['minutes_streamed_per_day']]
  .mean()
  .rename(columns={'minutes_streamed_per_day': 'avg_mins_streamed_per_day'})
  .sort_values(by=['avg_mins_streamed_per_day'], ascending=[False])
  .reset_index()
)

stream_duration_per_lis_time_df

  listening_time  avg_mins_streamed_per_day
0      Afternoon                 311.113219
1          Night                 310.053295
2        Morning                 306.467613

## 19. Are users who prefer certain genres streaming more overall than those who listen to others?

In [25]:
stream_duration_per_genre_df = df.copy()

stream_duration_per_genre_df = (
  stream_duration_per_genre_df
  .groupby('top_genre')[['minutes_streamed_per_day']]
  .mean()
  .rename(columns={'minutes_streamed_per_day': 'avg_mins_streamed_per_day'})
  .sort_values(by=['avg_mins_streamed_per_day'], ascending=[False])
  .reset_index()
)

stream_duration_per_genre_df

   top_genre  avg_mins_streamed_per_day
0       Rock                 324.354651
1        R&B                 315.048485
2  Classical                 313.623158
3    Hip-Hop                 311.435052
4        EDM                 310.314394
5       Jazz                 308.913534
6     Reggae                 306.898496
7        Pop                 305.170996
8      Metal                 301.898167
9    Country                 293.747934

## 20. Are certain artists more popular on specific platforms?

In [40]:
artist_per_platform_df = df.copy()

artist_per_platform_df = (
  artist_per_platform_df
  .groupby(['most_played_artist', 'streaming_platform'])[['user_id']]
  .count()
  .rename(columns={'user_id': 'user_count'})
  .sort_values(by=['most_played_artist', 'user_count'], ascending=[True, False])
  .reset_index()
)

artist_per_platform_df['user_count_pct'] = (
  artist_per_platform_df
  .groupby('most_played_artist')['user_count']
  .transform(lambda x: 100 * x / x.sum())
)

artist_per_platform_df

   most_played_artist streaming_platform  user_count  user_count_pct
0               Adele       Amazon Music         106       20.423892
1               Adele             Deezer          94       18.111753
2               Adele              Tidal          88       16.955684
3               Adele            Spotify          82       15.799615
4               Adele            YouTube          81       15.606936
5               Adele        Apple Music          68       13.102119
6                 BTS       Amazon Music          93       19.057377
7                 BTS        Apple Music          86       17.622951
8                 BTS              Tidal          80       16.393443
9                 BTS            Spotify          78       15.983607
10                BTS             Deezer          76       15.573770
11                BTS            YouTube          75       15.368852
12          Bad Bunny       Amazon Music          93       17.613636
13          Bad Bunny            Spotify          93       17.613636
14          Bad Bunny             Deezer          92       17.424242
15          Bad Bunny            YouTube          86       16.287879
16          Bad Bunny        Apple Music          84       15.909091
17          Bad Bunny              Tidal          80       15.151515
18      Billie Eilish            Spotify          90       18.867925
19      Billie Eilish            YouTube          82       17.190776
20      Billie Eilish             Deezer          80       16.771488
21      Billie Eilish        Apple Music          78       16.352201
22      Billie Eilish              Tidal          75       15.723270
23      Billie Eilish       Amazon Music          72       15.094340
24              Drake       Amazon Music          90       18.711019
25              Drake              Tidal          89       18.503119
26              Drake             Deezer          85       17.671518
27              Drake        Apple Music          75       15.592516
28              Drake            Spotify          71       14.760915
29              Drake            YouTube          71       14.760915
30           Dua Lipa             Deezer          91       18.127490
31           Dua Lipa            YouTube          89       17.729084
32           Dua Lipa              Tidal          84       16.733068
33           Dua Lipa        Apple Music          81       16.135458
34           Dua Lipa            Spotify          80       15.936255
35           Dua Lipa       Amazon Music          77       15.338645
36         Ed Sheeran            YouTube          95       19.000000
37         Ed Sheeran        Apple Music          86       17.200000
38         Ed Sheeran       Amazon Music          83       16.600000
39         Ed Sheeran            Spotify          83       16.600000
40         Ed Sheeran              Tidal          79       15.800000
41         Ed Sheeran             Deezer          74       14.800000
42        Post Malone              Tidal          99       19.075145
43        Post Malone            Spotify          97       18.689788
44        Post Malone             Deezer          87       16.763006
45        Post Malone        Apple Music          81       15.606936
46        Post Malone            YouTube          78       15.028902
47        Post Malone       Amazon Music          77       14.836224
48       Taylor Swift              Tidal          94       18.951613
49       Taylor Swift       Amazon Music          85       17.137097
50       Taylor Swift            YouTube          85       17.137097
51       Taylor Swift             Deezer          83       16.733871
52       Taylor Swift        Apple Music          81       16.330645
53       Taylor Swift            Spotify          68       13.709677
54         The Weeknd       Amazon Music          85       17.346939
55         The Weeknd            Spotify          85       17.346939
56         The Weeknd             Deezer          82       16.734694
57         The Weeknd              Tidal          82       16.734694
58         The Weeknd            YouTube          80       16.326531
59         The Weeknd        Apple Music          76       15.510204

## 21. Do premium subscribers like more songs than free-tier users?

In [ ]:
likes_per_sub_type_df = df.copy()

likes_per_sub_type_df = (
  likes_per_sub_type_df
  .groupby('subscription_type')[['number_of_songs_liked']]
  .sum()
  .rename(columns={'number_of_songs_liked': 'total_songs_liked'})
  .sort_values(by=['total_songs_liked'], ascending=[False])
  .reset_index()
)

likes_per_sub_type_df['user_count_pct'] = (
  likes_per_sub_type_df
  .groupby('most_played_artist')['user_count']
  .transform(lambda x: 100 * x / x.sum())
)

likes_per_sub_type_df

  subscription_type  total_songs_liked
0           Premium             635426
1              Free             632160

## 22. Is there a difference in the listening time based on a user's subscription type?

In [42]:
listening_times_per_sub_type_df = df.copy()

listening_times_per_sub_type_df = (
  listening_times_per_sub_type_df
  .groupby(['subscription_type', 'listening_time'])[['user_id']]
  .count()
  .rename(columns={'user_id': 'user_count'})
  .sort_values(by=['subscription_type', 'user_count'], ascending=[True, False])
  .reset_index()
)

listening_times_per_sub_type_df['user_count_pct'] = (
  listening_times_per_sub_type_df
  .groupby('subscription_type')['user_count']
  .transform(lambda x: 100 * x / x.sum())
)

listening_times_per_sub_type_df

  subscription_type listening_time  user_count  user_count_pct
0              Free          Night         853       34.478577
1              Free      Afternoon         821       33.185125
2              Free        Morning         800       32.336297
3           Premium          Night         892       35.312747
4           Premium        Morning         821       32.501979
5           Premium      Afternoon         813       32.185273

## 23. Do users who engage more with Discover Weekly tend to repeat songs less or more?

In [43]:
repeat_rate_per_discovery_df = df.copy()
repeat_rate_per_discovery_df = repeat_rate_per_discovery_df[['discover_weekly_engagement_pct', 'repeat_song_rate_pct']]
repeat_rate_per_discovery_df

      discover_weekly_engagement_pct  repeat_song_rate_pct
0                              47.42                 16.74
1                              12.06                 69.25
2                              47.19                 67.38
3                              31.27                 76.51
4                              30.68                 43.41
...                              ...                   ...
4995                           49.23                 22.36
4996                           17.08                 58.23
4997                           69.39                 51.71
4998                           43.44                 24.53
4999                           15.45                 79.46

[5000 rows x 2 columns]

In [47]:
correlation = repeat_rate_per_discovery_df['discover_weekly_engagement_pct'].corr(repeat_rate_per_discovery_df['repeat_song_rate_pct'])
print(correlation)

0.004186277610281867

## 24. Are users who engage more with Discover Weekly more likely to like songs?

In [44]:
likes_per_discovery_df = df.copy()
likes_per_discovery_df = likes_per_discovery_df[['discover_weekly_engagement_pct', 'number_of_songs_liked']]
likes_per_discovery_df

      discover_weekly_engagement_pct  number_of_songs_liked
0                              47.42                    138
1                              12.06                    388
2                              47.19                    368
3                              31.27                    349
4                              30.68                    328
...                              ...                    ...
4995                           49.23                     81
4996                           17.08                    218
4997                           69.39                    277
4998                           43.44                    492
4999                           15.45                    145

[5000 rows x 2 columns]

In [49]:
correlation_likes = likes_per_discovery_df['discover_weekly_engagement_pct'].corr(likes_per_discovery_df['number_of_songs_liked'])
print(correlation_likes)

0.012447445871681328