In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/raw/music_trends.csv")

In [4]:
df.head()

,User_ID,Age,Country,Streaming Platform,Top Genre,Minutes Streamed Per Day,Number of Songs Liked,Most Played Artist,Subscription Type,Listening Time (Morning/Afternoon/Night),Discover Weekly Engagement (%),Repeat Song Rate (%)
0,U1000,34,Japan,Tidal,Reggae,295,138,Adele,Free,Afternoon,47.42,16.74
1,U1001,24,Germany,Deezer,Country,86,388,Ed Sheeran,Premium,Night,12.06,69.25
2,U1002,49,Germany,Deezer,Pop,363,368,Post Malone,Premium,Afternoon,47.19,67.38
3,U1003,55,Australia,YouTube,Reggae,348,349,Dua Lipa,Premium,Morning,31.27,76.51
4,U1004,13,Germany,Amazon Music,Reggae,30,328,Adele,Free,Night,30.68,43.41

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   User_ID                                   5000 non-null   object
 1   Age                                       5000 non-null   int64
 2   Country                                   5000 non-null   object
 3   Streaming Platform                        5000 non-null   object
 4   Top Genre                                 5000 non-null   object
 5   Minutes Streamed Per Day                  5000 non-null   int64
 6   Number of Songs Liked                     5000 non-null   int64
 7   Most Played Artist                        5000 non-null   object
 8   Subscription Type                         5000 non-null   object
 9   Listening Time (Morning/Afternoon/Night)  5000 non-null   object
 10  Discover Weekly Engagement (%)            5000 non-null   float64
 11  Repeat Song Rate (%)                      5000 non-null   float64
dtypes: float64(2), int64(3), object(7)
memory usage: 468.9+ KB

In [6]:
df.columns = [
        "user_id",
        "age",
        "country",
        "streaming_platform",
        "top_genre",
        "minutes_streamed_per_day",
        "number_of_songs_liked",
        "most_played_artist",
        "subscription_type",
        "listening_time",
        "discover_weekly_engagement_pct",
        "repeat_song_rate_pct",
    ]
df

,user_id,age,country,streaming_platform,top_genre,minutes_streamed_per_day,number_of_songs_liked,most_played_artist,subscription_type,listening_time,discover_weekly_engagement_pct,repeat_song_rate_pct
0,U1000,34,Japan,Tidal,Reggae,295,138,Adele,Free,Afternoon,47.42,16.74
1,U1001,24,Germany,Deezer,Country,86,388,Ed Sheeran,Premium,Night,12.06,69.25
2,U1002,49,Germany,Deezer,Pop,363,368,Post Malone,Premium,Afternoon,47.19,67.38
3,U1003,55,Australia,YouTube,Reggae,348,349,Dua Lipa,Premium,Morning,31.27,76.51
4,U1004,13,Germany,Amazon Music,Reggae,30,328,Adele,Free,Night,30.68,43.41
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,U5995,60,UK,Deezer,Country,348,81,Post Malone,Premium,Morning,49.23,22.36
4996,U5996,38,Australia,Deezer,Hip-Hop,225,218,BTS,Premium,Night,17.08,58.23
4997,U5997,27,Brazil,Amazon Music,Metal,568,277,Taylor Swift,Premium,Night,69.39,51.71
4998,U5998,58,Canada,Amazon Music,EDM,523,492,Bad Bunny,Premium,Night,43.44,24.53
4999,U5999,30,South Korea,YouTube,Rock,451,145,Adele,Premium,Night,15.45,79.46

## 1. What was the most popular music platform?

In [7]:
platform_df = pd.DataFrame(df['streaming_platform'].value_counts())
platform_df['user_count'] = platform_df['count']
platform_df['user_count_pct'] = 100 * platform_df['count'] / len(df)
platform_df.drop(columns='count', inplace=True)
platform_df.reset_index(inplace=True)
platform_df

  streaming_platform  user_count  user_count_pct
0       Amazon Music         861           17.22
1              Tidal         850           17.00
2             Deezer         844           16.88
3            Spotify         827           16.54
4            YouTube         822           16.44
5        Apple Music         796           15.92

## 2. How does genre preference vary by platform?

In [8]:
genre_preference_by_platform_df = df.groupby(['streaming_platform', 'top_genre'])[['user_id']].count()
genre_preference_by_platform_df.reset_index(inplace=True)
genre_preference_by_platform_df.sort_values(by=['top_genre', 'streaming_platform'], ascending=[True, True], inplace=True)
genre_preference_by_platform_df['user_count'] = genre_preference_by_platform_df['user_id']
genre_preference_by_platform_df.drop(columns='user_id', inplace=True)
genre_preference_by_platform_df

   streaming_platform  top_genre  user_count
0        Amazon Music  Classical         101
10        Apple Music  Classical          65
20             Deezer  Classical          85
30            Spotify  Classical          74
40              Tidal  Classical          85
50            YouTube  Classical          65
1        Amazon Music    Country          87
11        Apple Music    Country          85
21             Deezer    Country          96
31            Spotify    Country          76
41              Tidal    Country          68
51            YouTube    Country          72
2        Amazon Music        EDM          88
12        Apple Music        EDM          86
22             Deezer        EDM          92
32            Spotify        EDM          89
42              Tidal        EDM          93
52            YouTube        EDM          80
3        Amazon Music    Hip-Hop          89
13        Apple Music    Hip-Hop          66
23             Deezer    Hip-Hop          73
33            Spotify    Hip-Hop          92
43              Tidal    Hip-Hop          81
53            YouTube    Hip-Hop          84
4        Amazon Music       Jazz          86
14        Apple Music       Jazz          87
24             Deezer       Jazz          75
34            Spotify       Jazz          87
44              Tidal       Jazz          99
54            YouTube       Jazz          98
5        Amazon Music      Metal          81
15        Apple Music      Metal          87
25             Deezer      Metal          86
35            Spotify      Metal          80
45              Tidal      Metal          76
55            YouTube      Metal          81
6        Amazon Music        Pop          80
16        Apple Music        Pop          80
26             Deezer        Pop          78
36            Spotify        Pop          74
46              Tidal        Pop          71
56            YouTube        Pop          79
7        Amazon Music        R&B          82
17        Apple Music        R&B          71
27             Deezer        R&B          80
37            Spotify        R&B          80
47              Tidal        R&B          99
57            YouTube        R&B          83
8        Amazon Music     Reggae          87
18        Apple Music     Reggae          84
28             Deezer     Reggae          89
38            Spotify     Reggae          88
48              Tidal     Reggae          85
58            YouTube     Reggae          99
9        Amazon Music       Rock          80
19        Apple Music       Rock          85
29             Deezer       Rock          90
39            Spotify       Rock          87
49              Tidal       Rock          93
59            YouTube       Rock          81

## 3. How do listening times differ by platform?

In [9]:
listening_time_by_platform_df = df.groupby(['streaming_platform', 'listening_time'])[['user_id']].count()
listening_time_by_platform_df.reset_index(inplace=True)
listening_time_by_platform_df.sort_values(by=['streaming_platform', 'listening_time'], ascending=[True, True], inplace=True)
listening_time_by_platform_df['user_count'] = listening_time_by_platform_df['user_id']
listening_time_by_platform_df.drop(columns='user_id', inplace=True)
listening_time_by_platform_df

   streaming_platform listening_time  user_count
0        Amazon Music      Afternoon         270
1        Amazon Music        Morning         301
2        Amazon Music          Night         290
3         Apple Music      Afternoon         264
4         Apple Music        Morning         272
5         Apple Music          Night         260
6              Deezer      Afternoon         294
7              Deezer        Morning         254
8              Deezer          Night         296
9             Spotify      Afternoon         287
10            Spotify        Morning         255
11            Spotify          Night         285
12              Tidal      Afternoon         272
13              Tidal        Morning         267
14              Tidal          Night         311
15            YouTube      Afternoon         247
16            YouTube        Morning         272
17            YouTube          Night         303

## 4. Which age group stream the most music?

In [10]:
stream_by_age_group_df = df
def calculate_age_group(age):
    if age < 13:
        return 'Child'
    elif age < 18:
        return 'Teenager'
    elif age < 25:
        return 'Young Adult'
    elif age < 45:
        return 'Adult'
    elif age < 65:
        return 'Middle-Aged'
    else:
        return 'Senior'
stream_by_age_group_df['age_group'] = stream_by_age_group_df['age'].apply(calculate_age_group)
stream_by_age_group_df = stream_by_age_group_df.groupby('age_group')[['user_id']].count()
stream_by_age_group_df.reset_index(inplace=True)
stream_by_age_group_df['user_count'] = stream_by_age_group_df['user_id']
stream_by_age_group_df.drop(columns='user_id', inplace=True)
stream_by_age_group_df

     age_group  user_count
0        Adult        2114
1  Middle-Aged        1676
2     Teenager         512
3  Young Adult         698

## 5. What age group spends the most time streaming?

In [11]:
stream_duration_per_age_group = df
stream_duration_per_age_group['age_group'] = stream_duration_per_age_group['age'].apply(calculate_age_group)
stream_duration_per_age_group = stream_duration_per_age_group.groupby('age_group')[['minutes_streamed_per_day']].mean().reset_index()
stream_duration_per_age_group['avg_minutes_streamed_per_day'] = stream_duration_per_age_group['minutes_streamed_per_day']
stream_duration_per_age_group.drop(columns='minutes_streamed_per_day', inplace=True)
stream_duration_per_age_group.sort_values(by=['avg_minutes_streamed_per_day'], ascending=[False], inplace=True)
stream_duration_per_age_group

     age_group  avg_minutes_streamed_per_day
3  Young Adult                    315.047278
1  Middle-Aged                    309.491647
0        Adult                    307.903027
2     Teenager                    305.992188

## 6. What is the most popular genre per age group?

In [ ]:
# Create copy of original dataframe and add an age_group column
age_group_with_genre_preferences_df = df.copy()
age_group_with_genre_preferences_df['age_group'] = age_group_with_genre_preferences_df['age'].apply(calculate_age_group)

# Count users per (age_group, top_genre)
age_group_with_genre_preferences_df = (
  age_group_with_genre_preferences_df
  .groupby(['age_group', 'top_genre'])[['user_id']]
  .count()
  .reset_index()
  .rename(columns={'user_id': 'user_count'})
)

# Find the maximum value for each age group. (The maximum value will give us the user count for the most popular genre within each age group)
max_count_per_age_group_df = (
  age_group_with_genre_preferences_df
  .groupby('age_group')[['user_count']]
  .max()
  .reset_index()
  .rename(columns={'user_count': 'max_count'})
)

# Find the total users per age group
total_user_per_age_group_df = (
  age_group_with_genre_preferences_df
  .groupby('age_group')[['user_count']]
  .sum()
  .reset_index()
  .rename(columns={'user_count': 'total_user_per_age_group'})
)

# Merge tables to identify the top_genre for each age group
most_popular_genre_per_age_group_df = (
  max_count_per_age_group_df
  .merge(total_user_per_age_group_df, how='inner', on='age_group')
  .merge(age_group_with_genre_preferences_df, how='inner', left_on=['max_count', 'age_group'], right_on=['user_count', 'age_group'])
  .drop(columns='user_count')
)

# Rearranging column order and then printing result
most_popular_genre_per_age_group_df = most_popular_genre_per_age_group_df[['age_group', 'top_genre', 'max_count', 'total_user_per_age_group']]
most_popular_genre_per_age_group_df

     age_group  top_genre  max_count  total_user_per_age_group
0        Adult       Jazz        231                      2114
1  Middle-Aged    Hip-Hop        180                      1676
2     Teenager  Classical         63                       512
3  Young Adult        EDM        101                       698

## 7. What are the country-level differences in listening times?

In [ ]:
listening_times_by_country_df = df.copy()

listening_times_by_country_df = (
  listening_times_by_country_df
  .groupby(['country', 'listening_time'])[['user_id']]
  .count()
  .reset_index()
  .rename(columns={'user_id': 'user_count'})
  .sort_values(by=['country', 'listening_time'], ascending=[True, True])
)

listening_times_by_country_df

        country listening_time  user_count
0     Australia      Afternoon         184
1     Australia        Morning         156
2     Australia          Night         186
3        Brazil      Afternoon         153
4        Brazil        Morning         171
5        Brazil          Night         184
6        Canada      Afternoon         164
7        Canada        Morning         163
8        Canada          Night         180
9        France      Afternoon         162
10       France        Morning         149
11       France          Night         182
12      Germany      Afternoon         152
13      Germany        Morning         156
14      Germany          Night         163
15        India      Afternoon         176
16        India        Morning         145
17        India          Night         169
18        Japan      Afternoon         167
19        Japan        Morning         174
20        Japan          Night         150
21  South Korea      Afternoon         175
22  South Korea        Morning         183
23  South Korea          Night         158
24           UK      Afternoon         152
25           UK        Morning         166
26           UK          Night         198
27          USA      Afternoon         149
28          USA        Morning         158
29          USA          Night         175

## 8. Are users from certain countries listening to more music per day?

In [25]:
stream_duration_per_country_df = df.copy()

stream_duration_per_country_df = (
  stream_duration_per_country_df
  .groupby('country')[['minutes_streamed_per_day']]
  .mean('minutes_streamed_per_day')
  .reset_index()
  .rename(columns={'minutes_streamed_per_day': 'avg_mins_streamed_per_day'})
  .sort_values(by=['avg_mins_streamed_per_day'], ascending=[False], ignore_index=True)
)

stream_duration_per_country_df

       country  avg_mins_streamed_per_day
0      Germany                 321.961783
1       France                 318.649087
2  South Korea                 316.238372
3    Australia                 314.878327
4           UK                 309.767442
5       Canada                 307.692308
6        Japan                 306.578411
7        India                 305.512245
8          USA                 297.439834
9       Brazil                 293.712598

## 9. Do users from particular countries prefer certain genres?

In [28]:
genre_preference_by_country_df = df.copy()

genre_preference_by_country_df = (
  genre_preference_by_country_df
  .groupby(['country', 'top_genre'])[['user_id']]
  .count()
  .reset_index()
  .rename(columns={'user_id': 'user_count'})
  .sort_values(by=['country', 'user_count'], ascending=[True, False], ignore_index=True)
)

genre_preference_by_country_df

      country  top_genre  user_count
0   Australia        Pop          61
1   Australia       Jazz          60
2   Australia    Hip-Hop          55
3   Australia     Reggae          55
4   Australia       Rock          55
..        ...        ...         ...
95        USA  Classical          48
96        USA    Country          46
97        USA        Pop          43
98        USA        R&B          38
99        USA    Hip-Hop          34

[100 rows x 3 columns]

## 10. What are the most popular streaming platforms across the globe?

In [ ]:
platform_popularity_by_country_df = df.copy()

platform_popularity_by_country_df = (
  platform_popularity_by_country_df
  .groupby(['country', 'streaming_platform'])[['user_id']]
  .count()
  .reset_index()
  .rename(columns={'user_id': 'user_count'})
)

platform_popularity_by_country_df['platform_rank'] = (
  platform_popularity_by_country_df
  .groupby('country')['user_count']
  .rank(method='dense', ascending=False)
)

platform_popularity_by_country_df = (
  platform_popularity_by_country_df.loc[platform_popularity_by_country_df['platform_rank'] == 1.0]
  .groupby('streaming_platform')[['streaming_platform']]
  .value_counts()
  .sort_values(ascending=False)
  .to_frame()
  .reset_index()
  .rename(columns={'count': 'num_countries_ranked_1st'})
)

platform_popularity_by_country_df

  streaming_platform  num_countries_ranked_1st
0       Amazon Music                         3
1              Tidal                         3
2             Deezer                         2
3            YouTube                         2
4        Apple Music                         1
5            Spotify                         1

## 11. What is the average duration of streams per day for each streaming platform?

In [55]:
stream_duration_per_platform_df = df.copy()

stream_duration_per_platform_df = (
  stream_duration_per_platform_df
  .groupby('streaming_platform')[['minutes_streamed_per_day']]
  .mean()
  .rename(columns={'minutes_streamed_per_day': 'avg_mins_streamed_per_day'})
  .sort_values(by=['avg_mins_streamed_per_day'], ascending=[False])
  .reset_index()
)

stream_duration_per_platform_df

  streaming_platform  avg_mins_streamed_per_day
0            YouTube                 320.126521
1              Tidal                 314.892941
2        Apple Music                 309.384422
3             Deezer                 307.228673
4       Amazon Music                 305.092915
5            Spotify                 298.823458

## 12. Which genres are most associated with high repeat rate?

In [56]:
repeat_rate_per_genre_df = df.copy()

repeat_rate_per_genre_df = (
  repeat_rate_per_genre_df
  .groupby('top_genre')[['repeat_song_rate_pct']]
  .mean()
  .rename(columns={'repeat_song_rate_pct': 'avg_repeat_rate'})
  .sort_values(by=['avg_repeat_rate'], ascending=False)
  .reset_index()
)

repeat_rate_per_genre_df

   top_genre  avg_repeat_rate
0    Country        44.262975
1    Hip-Hop        43.194495
2      Metal        42.991385
3        EDM        42.963314
4        R&B        42.594202
5       Jazz        42.368910
6     Reggae        41.861241
7       Rock        41.433798
8  Classical        41.224168
9        Pop        40.981385

## 13. Which age groups are most associated with high repeat rate?

In [70]:
repeat_rate_per_age_group_df = df.copy()
repeat_rate_per_age_group_df['age_group'] = repeat_rate_per_age_group_df['age'].apply(calculate_age_group)

repeat_rate_per_age_group_df = (
  repeat_rate_per_age_group_df
  .groupby(['top_genre', 'age_group'])[['repeat_song_rate_pct']]
  .mean()
  .rename(columns={'repeat_song_rate_pct': 'avg_repeat_rate_per_age_group'})
  .reset_index()
  .merge(repeat_rate_per_genre_df, how='left', on='top_genre')
  .sort_values(by=['avg_repeat_rate'], ascending=[False], ignore_index=True)
)

repeat_rate_per_age_group_df

    top_genre    age_group  avg_repeat_rate_per_age_group  avg_repeat_rate
0     Country        Adult                      45.242463        44.262975
1     Country  Middle-Aged                      43.612595        44.262975
2     Country     Teenager                      43.337895        44.262975
3     Country  Young Adult                      43.606212        44.262975
4     Hip-Hop  Young Adult                      45.841429        43.194495
5     Hip-Hop        Adult                      42.192021        43.194495
6     Hip-Hop     Teenager                      39.990408        43.194495
7     Hip-Hop  Middle-Aged                      44.215167        43.194495
8       Metal  Young Adult                      47.520952        42.991385
9       Metal     Teenager                      40.233654        42.991385
10      Metal  Middle-Aged                      43.154671        42.991385
11      Metal        Adult                      42.181675        42.991385
12        EDM  Young Adult                      43.100891        42.963314
13        EDM     Teenager                      43.943958        42.963314
14        EDM        Adult                      43.851143        42.963314
15        EDM  Middle-Aged                      41.499349        42.963314
16        R&B  Young Adult                      36.442456        42.594202
17        R&B        Adult                      44.705614        42.594202
18        R&B  Middle-Aged                      42.808012        42.594202
19        R&B     Teenager                      38.815909        42.594202
20       Jazz        Adult                      41.363247        42.368910
21       Jazz  Middle-Aged                      44.134830        42.368910
22       Jazz     Teenager                      43.532308        42.368910
23       Jazz  Young Adult                      40.464932        42.368910
24     Reggae  Young Adult                      39.193023        41.861241
25     Reggae     Teenager                      44.215273        41.861241
26     Reggae  Middle-Aged                      40.666369        41.861241
27     Reggae        Adult                      43.209821        41.861241
28       Rock        Adult                      42.815964        41.433798
29       Rock  Middle-Aged                      41.536727        41.433798
30       Rock     Teenager                      39.542600        41.433798
31       Rock  Young Adult                      38.476795        41.433798
32  Classical  Middle-Aged                      40.802299        41.224168
33  Classical  Young Adult                      43.220000        41.224168
34  Classical     Teenager                      43.920159        41.224168
35  Classical        Adult                      40.045278        41.224168
36        Pop  Young Adult                      36.331132        40.981385
37        Pop     Teenager                      37.454286        40.981385
38        Pop  Middle-Aged                      42.046536        40.981385
39        Pop        Adult                      42.063785        40.981385

## 14. What is the age distribution of users across platforms?

In [74]:
age_dist_per_platform_df = df.copy()
age_dist_per_platform_df['age_group'] = age_dist_per_platform_df['age'].apply(calculate_age_group)

age_dist_per_platform_df = (
  age_dist_per_platform_df
  .groupby(['streaming_platform', 'age_group'])[['user_id']]
  .count()
  .rename(columns={'user_id': 'user_count'})
  .sort_values(by=['streaming_platform', 'user_count'], ascending=[True, False])
  .reset_index()
)

age_dist_per_platform_df

   streaming_platform    age_group  user_count
0        Amazon Music        Adult         364
1        Amazon Music  Middle-Aged         289
2        Amazon Music  Young Adult         121
3        Amazon Music     Teenager          87
4         Apple Music        Adult         333
5         Apple Music  Middle-Aged         267
6         Apple Music  Young Adult         108
7         Apple Music     Teenager          88
8              Deezer        Adult         368
9              Deezer  Middle-Aged         273
10             Deezer  Young Adult         128
11             Deezer     Teenager          75
12            Spotify        Adult         371
13            Spotify  Middle-Aged         265
14            Spotify  Young Adult         115
15            Spotify     Teenager          76
16              Tidal        Adult         343
17              Tidal  Middle-Aged         300
18              Tidal  Young Adult         113
19              Tidal     Teenager          94
20            YouTube        Adult         335
21            YouTube  Middle-Aged         282
22            YouTube  Young Adult         113
23            YouTube     Teenager          92

## 15. What is the distribution of users across platforms in terms of country?

In [75]:
country_dist_per_platform_df = df.copy()

country_dist_per_platform_df = (
  country_dist_per_platform_df
  .groupby(['streaming_platform', 'country'])[['user_id']]
  .count()
  .rename(columns={'user_id': 'user_count'})
  .sort_values(by=['streaming_platform', 'user_count'], ascending=[True, False])
  .reset_index()
)

country_dist_per_platform_df

   streaming_platform      country  user_count
0        Amazon Music           UK         106
1        Amazon Music          USA          93
2        Amazon Music       Brazil          91
3        Amazon Music  South Korea          88
4        Amazon Music        Japan          85
5        Amazon Music    Australia          84
6        Amazon Music       Canada          82
7        Amazon Music      Germany          81
8        Amazon Music        India          78
9        Amazon Music       France          73
10        Apple Music        Japan          95
11        Apple Music    Australia          92
12        Apple Music          USA          87
13        Apple Music           UK          86
14        Apple Music       Canada          79
15        Apple Music       France          76
16        Apple Music       Brazil          75
17        Apple Music      Germany          74
18        Apple Music        India          68
19        Apple Music  South Korea          64
20             Deezer        India         110
21             Deezer       France          89
22             Deezer       Brazil          86
23             Deezer       Canada          83
24             Deezer      Germany          82
25             Deezer  South Korea          81
26             Deezer          USA          81
27             Deezer    Australia          79
28             Deezer           UK          79
29             Deezer        Japan          74
30            Spotify  South Korea         104
31            Spotify        India          84
32            Spotify    Australia          83
33            Spotify        Japan          83
34            Spotify          USA          83
35            Spotify       Canada          82
36            Spotify       France          79
37            Spotify       Brazil          78
38            Spotify           UK          78
39            Spotify      Germany          73
40              Tidal    Australia         113
41              Tidal       France          94
42              Tidal  South Korea          94
43              Tidal       Brazil          87
44              Tidal       Canada          84
45              Tidal           UK          83
46              Tidal      Germany          82
47              Tidal        India          74
48              Tidal          USA          71
49              Tidal        Japan          68
50            YouTube       Canada          97
51            YouTube       Brazil          91
52            YouTube        Japan          86
53            YouTube  South Korea          85
54            YouTube           UK          84
55            YouTube       France          82
56            YouTube      Germany          79
57            YouTube        India          76
58            YouTube    Australia          75
59            YouTube          USA          67

## 16. What is the distribution of users across platforms in terms of subscription type?

In [76]:
sub_type_dist_per_platform_df = df.copy()

sub_type_dist_per_platform_df = (
  sub_type_dist_per_platform_df
  .groupby(['streaming_platform', 'subscription_type'])[['user_id']]
  .count()
  .rename(columns={'user_id': 'user_count'})
  .sort_values(by=['streaming_platform', 'user_count'], ascending=[True, False])
  .reset_index()
)

sub_type_dist_per_platform_df

   streaming_platform subscription_type  user_count
0        Amazon Music              Free         454
1        Amazon Music           Premium         407
2         Apple Music           Premium         399
3         Apple Music              Free         397
4              Deezer           Premium         438
5              Deezer              Free         406
6             Spotify           Premium         419
7             Spotify              Free         408
8               Tidal              Free         426
9               Tidal           Premium         424
10            YouTube           Premium         439
11            YouTube              Free         383

## 17. What are the most common subscription type for different age groups?

In [77]:
sub_type_per_age_group_df = df.copy()
sub_type_per_age_group_df['age_group'] = sub_type_per_age_group_df['age'].apply(calculate_age_group)

sub_type_per_age_group_df = (
  sub_type_per_age_group_df
  .groupby(['age_group', 'subscription_type'])[['user_id']]
  .count()
  .rename(columns={'user_id': 'user_count'})
  .sort_values(by=['age_group', 'user_count'], ascending=[True, False])
  .reset_index()
)

sub_type_per_age_group_df

     age_group subscription_type  user_count
0        Adult           Premium        1069
1        Adult              Free        1045
2  Middle-Aged           Premium         844
3  Middle-Aged              Free         832
4     Teenager           Premium         265
5     Teenager              Free         247
6  Young Adult              Free         350
7  Young Adult           Premium         348

## 18. Do users listen more at specific times of the day?

In [78]:
stream_duration_per_lis_time_df = df.copy()

stream_duration_per_lis_time_df = (
  stream_duration_per_lis_time_df
  .groupby('listening_time')[['minutes_streamed_per_day']]
  .mean()
  .rename(columns={'minutes_streamed_per_day': 'avg_mins_streamed_per_day'})
  .sort_values(by=['avg_mins_streamed_per_day'], ascending=[False])
  .reset_index()
)

stream_duration_per_lis_time_df

  listening_time  avg_mins_streamed_per_day
0      Afternoon                 311.113219
1          Night                 310.053295
2        Morning                 306.467613

## 19. Are users who prefer certain genres streaming more overall than those who listen to others?

In [79]:
stream_duration_per_genre_df = df.copy()

stream_duration_per_genre_df = (
  stream_duration_per_genre_df
  .groupby('top_genre')[['minutes_streamed_per_day']]
  .mean()
  .rename(columns={'minutes_streamed_per_day': 'avg_mins_streamed_per_day'})
  .sort_values(by=['avg_mins_streamed_per_day'], ascending=[False])
  .reset_index()
)

stream_duration_per_genre_df

   top_genre  avg_mins_streamed_per_day
0       Rock                 324.354651
1        R&B                 315.048485
2  Classical                 313.623158
3    Hip-Hop                 311.435052
4        EDM                 310.314394
5       Jazz                 308.913534
6     Reggae                 306.898496
7        Pop                 305.170996
8      Metal                 301.898167
9    Country                 293.747934

## 20. Are certain artists more popular on specific platforms?

In [81]:
artist_per_platform_df = df.copy()

artist_per_platform_df = (
  artist_per_platform_df
  .groupby(['most_played_artist', 'streaming_platform'])[['user_id']]
  .count()
  .rename(columns={'user_id': 'user_count'})
  .sort_values(by=['most_played_artist', 'user_count'], ascending=[True, False])
  .reset_index()
)

artist_per_platform_df

   most_played_artist streaming_platform  user_count
0               Adele       Amazon Music         106
1               Adele             Deezer          94
2               Adele              Tidal          88
3               Adele            Spotify          82
4               Adele            YouTube          81
5               Adele        Apple Music          68
6                 BTS       Amazon Music          93
7                 BTS        Apple Music          86
8                 BTS              Tidal          80
9                 BTS            Spotify          78
10                BTS             Deezer          76
11                BTS            YouTube          75
12          Bad Bunny       Amazon Music          93
13          Bad Bunny            Spotify          93
14          Bad Bunny             Deezer          92
15          Bad Bunny            YouTube          86
16          Bad Bunny        Apple Music          84
17          Bad Bunny              Tidal          80
18      Billie Eilish            Spotify          90
19      Billie Eilish            YouTube          82
20      Billie Eilish             Deezer          80
21      Billie Eilish        Apple Music          78
22      Billie Eilish              Tidal          75
23      Billie Eilish       Amazon Music          72
24              Drake       Amazon Music          90
25              Drake              Tidal          89
26              Drake             Deezer          85
27              Drake        Apple Music          75
28              Drake            Spotify          71
29              Drake            YouTube          71
30           Dua Lipa             Deezer          91
31           Dua Lipa            YouTube          89
32           Dua Lipa              Tidal          84
33           Dua Lipa        Apple Music          81
34           Dua Lipa            Spotify          80
35           Dua Lipa       Amazon Music          77
36         Ed Sheeran            YouTube          95
37         Ed Sheeran        Apple Music          86
38         Ed Sheeran       Amazon Music          83
39         Ed Sheeran            Spotify          83
40         Ed Sheeran              Tidal          79
41         Ed Sheeran             Deezer          74
42        Post Malone              Tidal          99
43        Post Malone            Spotify          97
44        Post Malone             Deezer          87
45        Post Malone        Apple Music          81
46        Post Malone            YouTube          78
47        Post Malone       Amazon Music          77
48       Taylor Swift              Tidal          94
49       Taylor Swift       Amazon Music          85
50       Taylor Swift            YouTube          85
51       Taylor Swift             Deezer          83
52       Taylor Swift        Apple Music          81
53       Taylor Swift            Spotify          68
54         The Weeknd       Amazon Music          85
55         The Weeknd            Spotify          85
56         The Weeknd             Deezer          82
57         The Weeknd              Tidal          82
58         The Weeknd            YouTube          80
59         The Weeknd        Apple Music          76

## 21. Do premium subscribers like more songs than free-tier users?

In [82]:
likes_per_sub_type_df = df.copy()

likes_per_sub_type_df = (
  likes_per_sub_type_df
  .groupby('subscription_type')[['number_of_songs_liked']]
  .sum()
  .rename(columns={'number_of_songs_liked': 'total_songs_liked'})
  .sort_values(by=['total_songs_liked'], ascending=[False])
  .reset_index()
)

likes_per_sub_type_df

  subscription_type  total_songs_liked
0           Premium             635426
1              Free             632160

## 22. Is there a difference in the listening time based on a user's subscription type?

In [84]:
listening_times_per_sub_type_df = df.copy()

listening_times_per_sub_type_df = (
  listening_times_per_sub_type_df
  .groupby(['subscription_type', 'listening_time'])[['user_id']]
  .count()
  .rename(columns={'user_id': 'user_count'})
  .sort_values(by=['subscription_type', 'user_count'], ascending=[True, False])
  .reset_index()
)

listening_times_per_sub_type_df

  subscription_type listening_time  user_count
0              Free          Night         853
1              Free      Afternoon         821
2              Free        Morning         800
3           Premium          Night         892
4           Premium        Morning         821
5           Premium      Afternoon         813

## 23. Do users who engage more with Discover Weekly tend to repeat songs less or more?

<p>Chart will be created to identify this trend.</p>

## 24. Are users who engage more with Discover Weekly more likely to like songs?

<p>Chart will be created to identify this trend.</p>